@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    margin:0;
    padding: 0;
     /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
     font-family:'Poppins', sans-serif;;
}





#container  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3rem auto;
    justify-content: space-between;
}

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3rem auto;
    justify-content: space-between;
   
}

input {
    margin: 2rem 0 2rem 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 0.7rem 3rem 0.7rem 3rem;
    border: 1px solid #7c3aed;
    font-weight: bold;
   }

   button {
    margin-top:2rem;
    background-color:  rgb(124, 58, 237);
    outline: none;
    width: 15.6rem;
    border: none;
    padding: 0.8rem 3rem 0.8rem 3rem;
    font-weight: bold;
    text-align: center;

    display: inline-block;


    border-radius: .5rem;

    }


a {
    margin-top:2rem;
    background-color:  rgb(124, 58, 237);
    outline: none;
    width: 10rem;
    border: none;
    padding: 0.3rem 3rem 0.3rem 3rem;
    font-weight: bold;
    text-align: center;

    display: inline-block;

color: black;
    border-radius: .5rem;
    text-decoration:none;
}





    #outputbox {

        margin-top: 2rem;


    }