@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    margin:0;
    padding: 0;
     /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
     font-family:'Poppins', sans-serif;;
}


.quscontainer {
    align-items: left;
}

main {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0rem auto;
    justify-content: space-between;
padding-left: 2rem;
   
}

#outptbox{
    margin-top:4rem;
}
.homebtn {
    margin-top:2rem;
    background-color:  rgb(124, 58, 237);
    outline: none;
    width: 10rem;
    border: none;
    padding: 0.3rem 3rem 0.3rem 3rem;
    font-weight: bold;
    text-align: center;
align-items: center;
    display: inline-block;

color: black;
    border-radius: .5rem;
    text-decoration:none;
  }

   button {
    margin-top:1rem;
    background-color: rgb(124, 58, 237);
    outline: none;
    width: 15.6rem;
    border: none;
    padding: 0.8rem 3rem 0.8rem 3rem;
    font-weight: bold;
  display: inline-block;

align-items:left;
    border-radius: .5rem;

    }


a {
    margin-top:2rem;
    background-color:  rgb(124, 58, 237);
    outline: none;
    width: 10rem;
    border: none;
    padding: 0.3rem 3rem 0.3rem 3rem;
    font-weight: bold;
    text-align: center;

    display: inline-block;

color: black;
    border-radius: .5rem;
    text-decoration:none;
}


